<form action="/api/users" method="POST" id="add_user">
            <div class="form-group">
            <label for="case_no" class="text-dark">Case No</label>
            <input type="number" name="caseNumber" value="">
            </div>
            <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter crime">
              </div>
            <div class="form-group">
            <label for="name" class="text-dark">  Profession</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Profession" value="" placeholder="Enter name">
              </div>
               <div class="form-group">
            <label for="name" class="text-dark">Story</label>
            <input type="hidden" name="id" value="">
            <textarea type="text" name="Story" value="" placeholder="Enter name">
              </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
 
</form>