
<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->

<link rel="stylesheet" href="styles/form.css">
<body class="hero-anime"> 
	<%- include('../include/navbar.ejs') %>
     <div class="container">
            <!-- form handling -->
            <br>
            <br>
            <br>
            <div class="form-title text-center">
            <h2 class="text-dark">Register a Case</h2>
            </div>
          <!--<div class="box-nav d-flex justify-between">
                <a href="/form.html" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-angle-double-left"></i>View Cases</span>
                </a>
            </div>-->
            <%- include('../include/form.ejs') %>
      </div>
   <!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   
</body>
