
<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->

<%- include('../include/navbar.ejs') %>

 <body > 
<h1>Hello</h1>
   
</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->