
<!-- include header -->
    <%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="styles/stories.css">
<!-- /include header -->
<body class="hero-anime"> 
	<%- include('../include/navbar.ejs') %>
    <div class="slide-container">
            <!-- form handling -->
            <br>
            <br>
            <br>
            <br>
           
            <br>
            <form action="/" method="POST">
                <table>
                    <tbody>
                          <%- include('../include/showData.ejs') %>
                    </tbody>

                </table>
            </form>
        </div>
   <!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   
</body>
